.modern-dropdown {
  margin-top: 8px !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  background-color: white !important;
}

.mat-mdc-menu-content {
  padding: 10px !important;
  background-color: white;
}
.mat-mdc-menu-item-text{
  display: flex !important;
}

.mat-mdc-menu-content{
  background-color: white !important;
}